Repository LetsUpgrade/Algorithmic-Treasure, pull requests merged in 2020-08, with the labels that each got.

#7 Added Problem on Linked List
  Abhijit/palindromeLinkedList.cpp
Labels: CPP, Linked List, intermediate

#8 Added code for array problems
  Himanshi/ArrayDescription.md
  Himanshi/max_min_sum.cpp
  Himanshi/plusOne.cpp
Labels: CPP, array, basic

#11 Task Completed
  AbhinavMaharana/Question1/Documentation.md
  AbhinavMaharana/Question1/solution.py
  AbhinavMaharana/Question2/Documentation.md
  AbhinavMaharana/Question2/solution.py
Labels: Python, array, basic

#16 Task 1 Completed - Ashish Chawda
  pixan198/find_duplicate_in_array.cpp
  pixan198/find_duplicate_in_array.md
  pixan198/wave_array.cpp
  pixan198/wave_array.md
Labels: CPP, array, basic, intermediate

#14 Array_
  AfraMP/MissingAndRepeating/Documentation.md
  AfraMP/MissingAndRepeating/missingAndRepeating.py
  AfraMP/TicTacToe/Documentation.md
  AfraMP/TicTacToe/ticTacToe.py
Labels: CPP, array, intermediate

#15 Array
  Mercy/count the zeros/Count the Zeros .py
  Mercy/count the zeros/documentation.md
  Mercy/sort an array of 0s,1s and 2s/Sort an array of 0s, 1s and 2s.py
  Mercy/sort an array of 0s,1s and 2s/documentation.md
Labels: Python, array, basic

#12 issue #1
  Sahil/MaxSum Contiguous Subarray/Max_Sum.cpp
  Sahil/MaxSum Contiguous Subarray/documentation.md
  Sahil/Pascal Triangle/Pascal_Triangle.cpp
  Sahil/Pascal Triangle/documentation.md
Labels: CPP, array, basic

#13 Array
  Priya/ArrayDoc.md
  Priya/program01
  Priya/program02
Labels: Python, array, basic

#17 Task 1
  Chaitali Gaitonde/Question 2/Approach.txt
  Chaitali Gaitonde/Question 2/Doc.md
  Chaitali Gaitonde/Question 2/zigzagSolution.py
  Chaitali Gaitonde/Question1/Approach1.txt
  Chaitali Gaitonde/Question1/Doc.md
  Chaitali Gaitonde/Question1/findthefine.py
Labels: Python, array, basic

#18 Linked List CPP codes
  Abhijit/Array/medianSortedArr.cpp
  Abhijit/Array/medianSortedArr.py
  Abhijit/Array/mergeSortedArr.md
  Abhijit/Linked List/DeleteDuplicate.cpp
  Abhijit/Linked List/ReverseLL.cpp
  Abhijit/Linked List/palindromeLinkedList.cpp
Labels: CPP, Linked List, basic, intermediate

#19 Added Some Python Code
  Abhijit/Linked List/PalindromeLinkedList.py
Labels: Linked List, Python, intermediate

#21 Palindrome and merge two sort
  Mercy/Mergetwosort/mergetwosort.cpp
  Mercy/Mergetwosort/mergetwosort.md
  Mercy/Mergetwosort/mergetwosort.py
  Mercy/palindromelist/palindrome.cpp
  Mercy/palindromelist/palindrome.md
  Mercy/palindromelist/palindrome.py
Labels: CPP, Linked List, Python, basic

#31 Task 2 -> LL of Ashish Chawda
  pixan198/Array/find_duplicate_in_array/find_duplicate_in_array.cpp
  pixan198/Array/find_duplicate_in_array/find_duplicate_in_array.md
  pixan198/Array/wave_array/wave_array.cpp
  pixan198/Array/wave_array/wave_array.md
  pixan198/Linked_List/Absolute_list_sorting/Absolute_list_sorting.cpp
  pixan198/Linked_List/Absolute_list_sorting/Absolute_list_sorting.md
  pixan198/Linked_List/Add_1_to_num_as_LL/Add_1_to_num_as_LL.cpp
  pixan198/Linked_List/Add_1_to_num_as_LL/Add_1_to_num_as_LL.md
Labels: CPP, Linked List, intermediate

#30 Linked Lists
  Chaitali Gaitonde/Arrays/Question 1/Approach1.txt
  Chaitali Gaitonde/Arrays/Question 1/Doc.md
  Chaitali Gaitonde/Arrays/Question 1/findthefine.py
  Chaitali Gaitonde/Arrays/Question 2/Approach.txt
  Chaitali Gaitonde/Arrays/Question 2/Doc.md
  Chaitali Gaitonde/Arrays/Question 2/zigzagSolution.py
  Chaitali Gaitonde/Linked Lists/Question 1/Approach.txt
  Chaitali Gaitonde/Linked Lists/Question 1/Doc.md
  Chaitali Gaitonde/Linked Lists/Question 1/solution.py
  Chaitali Gaitonde/Linked Lists/Question 2/Approach.txt
  Chaitali Gaitonde/Linked Lists/Question 2/Doc.md
  Chaitali Gaitonde/Linked Lists/Question 2/solution.py
Labels: Linked List, Python, intermediate

#20 Linked List Description
  Himanshi/ArrayDescription.md
  Himanshi/DelMid.cpp
  Himanshi/LinkedListDescription.md
  Himanshi/NthNode.cpp
Labels: CPP, Linked List, basic

#25 LinkedList problems
  Sahil/Detect Loop in LL/DetectLoop.cpp
  Sahil/Detect Loop in LL/documentation.md
  Sahil/Remove Nth Node from end/N_NodeFromEnd.cpp
  Sahil/Remove Nth Node from end/documentation.md
Labels: CPP, Linked List, basic

#24 Arrays and Linked list
  Ishita/Array/first_missing_int.cpp
  Ishita/Array/missing_int.txt
  Ishita/Array/rotate matrix.txt
  Ishita/Array/rotation.cpp
  Ishita/linked list/get_middle.cpp
  Ishita/linked list/middle_ele.txt
  Ishita/linked list/rotate_list.cpp
  Ishita/linked list/rotate_list.txt
Labels: CPP, Linked List, array, basic

#23 linked_list
  AfraMP/EvenReverse/Documentation.md
  AfraMP/EvenReverse/EvenReverse.CPP
  AfraMP/EvenReverse/EvenReverse.py
  AfraMP/SwapInPairs/Documentation.md
  AfraMP/SwapInPairs/SwapInPairs.py
Labels: CPP, Linked List, Python, basic

#32 LinkedList
  Priya/Array/ArrayDoc.md
  Priya/Array/program01
  Priya/Array/program02
  Priya/LinkedList/LinkedListDoc.md
  Priya/LinkedList/Question1.py
  Priya/LinkedList/Question2.py
  Priya/task-3/doc.md
Labels: Linked List, Python, basic
